.dropdown {
    position: relative;
}

.dropdown__body {
    position: absolute;
    z-index: var(--z-dropdown);
    will-change: transform;
}

.dropdown:not(.open) .dropdown__body {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    transition: opacity 75ms ease-in, transform 75ms ease-in, visibility 0s linear 75ms;
}

.dropdown.open .dropdown__body {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: opacity 100ms ease-out, transform 100ms ease-out, visibility 0s linear 0s;
}

@media (prefers-reduced-motion: reduce) {
    .dropdown__body {
        transition: none !important;
        will-change: none !important;
    }
}

.dropdown__body:focus {
    outline: none;
}