.h {
    line-height: var(--leading-normal);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-sans-serif);
}

.body {
    line-height: var(--leading-normal);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-sans-serif);
}

.label {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-normal);
}