.h {
  line-height: var(--leading-normal);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-sans-serif);
  font-size: var(--h-font-size);
}

.h_1 {
  --h-font-size: var(--text-xl);
}

@media (min-width: 576px) {
  .h_1 {
    --h-font-size: var(--text-3xl);
  }
}

.h_2 {
  --h-font-size: var(--text-xl);
}

@media (min-width: 576px) {
  .h_2 {
    --h-font-size: var(--text-2xl);
  }
}

.body {
  line-height: var(--leading-normal);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-sans-serif);
}

.label {
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-normal);
}
