.input-group {
    position: relative;
}

.input-group__input {
    display: block;
    width: 100%;
}

.input-group__right-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
