:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-6: #f2f2f2;
  --white: #ffffff;
  --blue: #2d9cdb;

  --font-sans-serif: Poppins;
  // If purpose of these variables in program changes, I'll rename variables to explain what I'm up to.
  --font-logo: Heebo;
  --font-copyright: Montserrat;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  // Another font weights are related only to logo and copyright, so I consider them on-off values.

  --text-base: 1.125rem;

  // Any future modifications to the repeating code can be done in one place and used by all the callers.
  // Should the code vary in the future, I can easily move it (or some of it) out again
  --text-title: var(--gray-1);
  --text-body: var(--gray-2);
  --text-caption: var(--gray-3);

  // This matches the problem, and behavior code is simple and straightforward.
  --text-darkm-default: var(--gray-6);

  // Colors of the logo on dark and light backgrounds aren't ruled by categorization above.
  // Domain logic of specific colors for logo doesn't duplicated.
  // According to DAMP principle, the what-to's of the logo will describe it using specific steps: color, font-size, etc.
  // A following situation is highly unlikely: every time we make a change, we have to make a lot of little edits to a lot of different places.
  // So, we won't forget to update the logo's color, because we want to update some color in specific places.

  --leading-normal: normal;
}
