.hero {
  padding: calc(48 / 16 * 1rem) var(--section-1-pr) 100px var(--section-1-pl);
}

@media (min-width: 576px) {
  .hero {
    padding: calc(89 / 16 * 1rem) var(--section-1-pr) 200px var(--section-1-pl);
  }
}

.hero__intro {
  margin-left: calc(30 / 16 * 1rem);
}

.hero__title {
  color: var(--text-title);
}

.hero__sub-title {
  font-size: var(--text-xs);

  margin-bottom: 0;
}

.hero__image {
  border-radius: calc(18 / 16 * 1rem);
  margin: 0 auto calc(22 / 16 * 1rem);
}

.hero__title_top {
  margin-bottom: calc(15 / 16 * 1rem);
}

.hero__title_bottom {
  margin-bottom: calc(33 / 16 * 1rem);
}

.hero__body {
  font-size: var(--text-xs);
  color: var(--text-body);

  margin-bottom: calc(31 / 16 * 1rem);
}

@media (min-width: 576px) {
  .hero__intro {
    margin-left: calc(225 / 1332 * 100%);
  }

  .hero__body {
    font-size: var(--text-lg);

    margin-bottom: calc(42 / 16 * 1rem);
  }

  .hero__title_top {
    margin-bottom: calc(42 / 16 * 1rem);
  }

  .hero__title_bottom {
    margin-bottom: calc(42 / 16 * 1rem);
  }

  .hero__sub-title {
    font-size: var(--text-lg);

    /* If we had left mb-4 in HTML, it would have been violation of separation of concerns */
    margin-bottom: var(--space-4);
  }

  .hero__image {
    margin-bottom: calc(42 / 16 * 1rem);
  }
}

@media (min-width: 1199px) {
  .hero__bottom {
    max-width: 27.4775%;
  }
}
